
.cardStyle {
    border: none !important;
}

.dropdownStyle {
    margin-top: 1rem;
    background-color: grey;
    max-width: 260px;
    width: 100%;
    padding: 1rem 2.5rem;
}

.dropChildren {
    max-width: 260px;
    width: 100%;
    margin: 0;
    padding: 0;
}