::-webkit-scrollbar {
    border: 0;
    background-color: #ffffff;
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-image: linear-gradient(to bottom, #FF8300 , #FF5C00);
    transition: all 0.5s;
}


@font-face {
    font-family: Roboto-Medium;
    src: url("../../resources/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: Gilroy-Regular;
    src: url("../../resources/fonts/Gilroy/GILROY-REGULAR.TTF");
}

@font-face {
    font-family: Gilroy-Bold;
    src: url("../../resources/fonts/Gilroy/GILROY-BOLD.TTF");
}

body {
    background-color: #ffffff;
    font-family: 'Gilroy-Regular', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #313949;
}
table {
    text-align: left;
}
.registration {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    height: 100vh;
}
.reg-input{
    margin-bottom: 30px;
    height: 50px;

}
.reg-pass{
    position: relative;
}

.reg-eye {
    position: absolute;
    left: 85%;
    top: 37px;
}

.fl-l {
    height: 100vh;
    float: left;
}

.mt-15 {
    margin-top: 150px;
}