
/* ==HEADER START== */
.btnAdd {
    background:#ffffff;
    color: #FD8602;
    border: 1px solid #FD8602;
    border-radius: 90px;
    padding: 10px 30px;
    transition: all .3s;
    font-size: 18px;
    float: left;
    cursor: pointer;
    z-index: 1;
}

.btnAdd:hover {
    background-image: linear-gradient(to bottom, #FF8300 , #FF5C00);
    color: #ffffff;
}

.searchInputGroup {
    position: relative;
    width: 320px;
}

.searchInputGroup .mainInput {
    position: relative;
    width: 100%;
    padding: 10px 30px;
    border-radius: 90px;
    border: none;
    box-shadow: 0 0 10px #eeeeee;
    text-indent: 20px;
    font-size: 18px;
    letter-spacing: .5px;
    outline: none;
}

.searchInputGroup .searchIcon {
    position: absolute;
    left: 15px;
    top: 10px;
}

.searchInputGroup .calendarIcon {
    position: absolute;
    left: 85%;
    top: 10px;
}
.searchInputGroup .calendarIcon .filterModal {
    z-index: 99!important;
    text-align: left;
    position: absolute;
    background: #fff;
    left: -150px;
    top: 25px;
    box-shadow: 0 0 10px #cccccc;
    padding: 10px 20px;
    border-radius: 10px;
    display: none;
    width: 300px;
}

.searchInputGroup .calendarIcon:hover .filterModal{
    display: block;
}
/* ==HEADER END== */

/* ==CONTENT START== */
.editButton {
    float: left;
    cursor: pointer;
}
.editButton svg {
    padding: 7px;
    width: 40px;
    height: 40px;
    border-radius: 90px;
}
.editButton svg path {
    fill: #FD8602;
}
.editButton:hover svg {
    background-image: linear-gradient(to bottom, #FF8300 , #FF5C00);
}
.editButton:hover svg path{
    fill: #ffffff;
}

.deleteButton {
    float: left;
    cursor: pointer;
}
.deleteButton svg {
    padding:7px;
    width: 40px;
    height:40px;
    border-radius: 90px;
}
.deleteButton svg path {
    fill: #d9534f;
    stroke: #d9534f;
}
.deleteButton:hover svg {
    background-image: linear-gradient(to bottom, #ea7889,#d9534f);

}
.deleteButton:hover svg path{
    fill: #ffffff;
    stroke: #ffffff;
}


.viewButton {
    float: left;
    cursor: pointer;
}
.viewButton svg {
    padding:7px;
    width: 40px;
    height:40px;
    border-radius: 90px;
}
.viewButton svg path {
    stroke: #0275d8;
}
.viewButton:hover svg {
    background-image: linear-gradient(to bottom, #5CA6E5,#0275d8);
}
.viewButton:hover svg path{
    stroke: #ffffff;
}

/* ==CONTENT END== */
/* ==MODAL START== */


.modal-content {
    border-radius: 0 !important;
    border-bottom: none !important;
    position: relative;
    border-left: 0 !important;
}

.EditModal .title {
    margin-top: 5px;
    margin-bottom: 40px;
    margin-left: 30px;
    z-index: 10;
}

.EditModal {
    position: absolute;
    top: 0;
    left: 70vw;
    background: white;
    width: 30vw;
    height: 100vh;
    transition: all 0.3s;
}
.EditModal .rectangle {
    position: relative;
    width: 150px;
    left: -70px;
    top: 50px;
    z-index: -1;
}

.EditModal .closeBtn {
    position: relative;
    left: -40px;
}

.fileUpdateGroup{
    border: 1px dashed #D1DBE0;
    width: 228px;
    height: 196px;
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
    left: -10px;
}
.fileUpdateGroup .fileUpdateInput{
    width: 50px!important;
}
.file {
    opacity: 0;
    width: .1px;
    height: .1px;
    position: absolute;
}

.file-input label {
    position: relative;
    width: 148px;
    height: 47px;
    border-radius: 4px;
    background: #C4C4C4;
    /*box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);*/
    display: flex;
    align-items: center;
    /*justify-content: right;*/
    color: #000;
    font-size: 14px;
    padding-left: 10px;
    /*font-weight: bold;*/
    cursor: pointer;
    transition: transform .2s ease-out;
    margin: 0 auto;
    margin-top: 70px;
}

.imgPosition {
    text-align: right;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.removeBtn{
    background: red;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    width: 10%;
    left: 100%;
    top: 0;
}


.FullModal {
    padding: 20px;
    border-radius: 10px;
    background: white;
    transition: all 0.3s;
}