.loading-main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    z-index: 999;
}

.preloader {
    margin-top: 35vh;
    margin-left: 35vw;
    width: 30vw;
    height: 30vh;
    border-radius: 90%;
    animation-name: waitingLoader;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
}

@keyframes waitingLoader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}