.btnAdminLayoutMiniButton {
    width: 100%;
    margin: 5px 0;
    background-color: #fff;
    padding: 5px 10px;
    outline: none;
    transition: all .3s;
    color: #313949;
    border: 1px solid #fff;
    border-bottom: 2px solid #fff;
    text-align: left;
}
.btnAdminLayoutMiniButton:focus{
    outline: none!important;
}
.btnAdminLayoutMiniButtonActive:focus{
    outline: none!important;
}

.btnAdminLayoutMiniButton:hover {
    border-bottom: 2px solid #FD8602;
}
/* ---------------------- */

.btnAdminLayoutMiniButtonActive {
    width: 100%;
    margin: 5px 0;
    background-color: #fff;
    padding: 5px 15px;
    outline: none;
    transition: all .3s;
    color: #313949;
    border: 1px solid #fff;
    border-bottom: 2px solid #FD8602;
    text-align: left;
}
