


.secondaryButtonAdminLayout {
    width: 45px;
    height: 40px;
    margin-left: -.4rem;
    margin-top: 15px;
    border: none;
}

.secondaryButtonAdminLayout:before {
    outline: none;
}

.secondaryButtonAdminLayout:after {
    outline: none;
}

