

/*.incomeProduct {*/
/*    height: auto;*/
/*}*/

.titleInputs {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 21px;
    font-style: normal;
}

.firstFormgroup {
    max-width: 300px !important;
    width: 100% !important;
}

.secondFormgroup {
    margin-left: 50%;
    max-width: 300px !important;
    width: 100% !important;
}

.inComeTable {
    background-color: #FAFAFA;
    border-radius: 20px;
    text-align: center;
}

.inComeThead {
    background-color: #000;
    color: #fff;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.edtBtnInComeProduct {
    cursor: pointer;
}

.inComeTxtArea {
    min-width: 430px;
    min-height: 170px;
    max-width: 430px;
    max-height: 170px;
}

.btnCancel {
    width: 150px;
    height: 50px;
    border: 1px solid #898989!important;
    /*box-sizing: border-box;*/
    border-radius: 4px;
    color: #898998!important;
    background-color: #fff!important;
    margin-right: 123px;
}

.btnCancel:focus {
    box-shadow: none!important;
}
/**/
.btnSave {
    width: 150px;
    height: 50px;
    background: #04A6FB!important;
    border-radius: 4px;
    color: #fff!important;
    float: right;
}

.btnSave:focus {
    box-shadow: none!important;
}
.addUser {
    margin-top: 28px;
    position: relative;
    /*left: 11px;*/
}

.addUser .add {
    cursor: pointer;
}


.addUser .addButton {
    background-color: #04A6FB !important;
    box-shadow: 0 4px 4px rgba(31, 31, 31, 0.25);
    border-radius: 50% !important;
    width: 45px;
    height: 45px;
    text-align: center !important;
    position: relative;
    z-index: 1;
}

.addUser .addButton img {
    position: relative;
    bottom: 1px;
}

.addUser .addButton:focus {
    box-shadow: 0 4px 4px rgba(31, 31, 31, 0.25) !important;
}


.product_input {
    opacity: 1;
    width: 150px;
}

 /* New */
.addButtonStyle {
    width: 125px;
    height: 45px;
    line-height: 1.9em;
    padding-left: 42px;
    cursor: pointer;
    transition: 0.19s;
    border-radius: 50px;
    box-shadow: 0 2px 7px 0 rgba(31, 31, 31, 0.25);
}
.addButtonStyle:hover {
    color: #04A6FB;
}
.addButtonNew {
    box-shadow: none !important;
    top: 45px;
    left: 0;
}
