

.mainContent {
    position: relative;
    background-color: #ffffff !important;
    width: 100%;
    max-width: 2000px!important;
    margin: 0 auto;
}

.admin-ws {
    padding: 10px;
    z-index: 99!important;
    background-color: #ffffff;
    color:#313949;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s;
    text-align: center;
    border-bottom:1px solid #D8D8D8;
}
.logotip {
    float: left;
    font-family: "Gilroy-Bold",sans-serif;
    text-decoration: none;
}


.descr:hover .dropdownSimple {
    display: block;
}

.dropdownSimple {
    background-color: #fff;
    width:100%;
    position: absolute;
    top: 60px;
    left: 0;
    transition: all 0.3s;
    text-align: center;
    border-bottom:2px solid #FD8602;
    padding: 20px;
    display: none;
}

.userPanel {
    float: right;
    height: 60px;
    line-height: 40px;
}

.notificationButton {
    display: block;
    margin: 0;
    padding: 10px;
    border-radius: 90px;
    cursor: pointer;
}



