.btnAdminLayoutButton {
    background-color: #ffffff;
    text-align: center;
    outline: none;
    font-family: 'Gilroy-Bold', sans-serif;
    color: #313949;
    border: 1px solid #ffffff;
    border-bottom: 0;
    padding: 11.5px 20px;
    float: left;
    z-index: 99!important;
}
.btnAdminLayoutButton:focus{
    outline: none!important;
}
.btnAdminLayoutButtonActive:focus{
    outline: none!important;
}

.btnAdminLayoutButton:hover {
    border: 1px solid #ffffff;
    border-bottom: 2px solid #FD8602;
}

.activeButton {
    border-bottom: 2px solid #FD8602;
}
